body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.cell-grid {
  background-image: url("/Assets/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #2980B9;
  margin: 0px;
  padding: 25px;
  display: grid;
  grid-template:
    "rf1 bb1 bb1"
    "g1 bb1 bb1"
    "g2 g3  g4"
    "bb2 bb2 g5"
    "bb2 bb2 g6"
    "g7 g8 g9"
    "g10 g11 btg";
  grid-gap: 1.6875em;
}
.game-container {
  width: 24vw;
  height: 13vh;
  border-radius: 23px;
  background-color: #f8f8f8;
}
#ij00 {
  background-image: url("/Assets/refresh.png");
  background-size: 18vw 8vh;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  grid-area: rf1;
  background-color: white;
}
#ij01 {
  background-image: url("/Assets/Games_Capes/CrazyCaves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 56vw;
  height: 30vh;
  grid-area: bb1;
  box-shadow: 3px 7px 16px -1px rgba(0, 0, 0, 0.9);
}
#ij10 {
  background-image: url("/Assets/Games_Capes/SkyDrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g1;
}
#ij20 {
  background-image: url("/Assets/Games_Capes/DragonHunt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g2;
}
#ij21 {
  grid-area: g3;
  background-image: url("/Assets/Games_Capes/BottleFlipChallenge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#ij22 {
  background-image: url("/Assets/Games_Capes/MatchTheAnimal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g4;
}
#ij30 {
  background-image: url("/Assets/Games_Capes/TowerRush.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 56vw;
  height: 30vh;
  grid-area: bb2;
  box-shadow: 3px 7px 16px -1px rgba(0, 0, 0, 0.9);
}
#ij32 {
  background-image: url("/Assets/Games_Capes/FastCicles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g5;
}
#ij42 {
  background-image: url("/Assets/Games_Capes/KnifeMaster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g6;
}
#ij50 {
  background-image: url("/Assets/Games_Capes/SpeedBilliards.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g7;
}
#ij51 {
  background-image: url("/Assets/Games_Capes/StickyBalls.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: g8;
}
#ij52 {
  grid-area: g9;
}
#ij60 {
  grid-area: g10;
}
#ij61 {
  grid-area: g11;
}
#ij62 {
  background-image: url("/Assets/dollar.png");
  background-size: 16vw 9vh;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  grid-area: btg;
  background-color: #ffffff;
}
@media screen and (min-width: 270px) and (max-width: 295px) {
  .cell-grid {
    padding: 14px;
  }
  .game-container {
    width: 24vw;
    height: 10vh;
  }
  #ij01,
  #ij30 {
    width: 56vw;
    height: 25vh;
  }
  #ij62{
    background-size: 18vw 8vh;
  }
}
@media screen and (min-width: 296px) and (max-width: 320px) {
  .cell-grid {
    padding: 16px;
  }
  .game-container {
    width: 24vw;
    height: 11vh;
  }
  #ij01,
  #ij30 {
    width: 56vw;
    height: 25vh;
  }
}
@media screen and (min-width: 321px) and (max-width: 400px) {
  .cell-grid {
    padding: 30px;
  }
  .game-container {
    width: 23vw;
    height: 12vh;
  }
  #ij01,
  #ij30 {
    width: 53vw;
    height: 27vh;
  }
  #ij62{
    background-size: 16vw 9vh;
  }
}
@media screen and (min-width: 401px) and (max-width: 430px) {
  .cell-grid {
    padding: 34px;
  }
  .game-container {
    width: 23vw;
    height: 10vh;
  }
  #ij01,
  #ij30 {
    width: 54vw;
    height: 26vh;
  }
  #ij62{
    background-size: 17vw 8vh;
  }
}
@media screen and (min-width: 520px) and (max-width: 560px) {
  #ij00 {
    background-size: 19vw 12vh;
  }
  .cell-grid {
    padding: 41px;
  }
  .game-container {
    width: 24vw;
    height: 17vh;
  }
  #ij01,
  #ij30 {
    width: 54vw;
    height: 38vh;
  }
  #ij62{
    background-size: 17vw 12vh;
  }
}
@media screen and (min-width: 760px) and (max-width: 800px) {
  #ij00 {
    background-size: 19vw 12vh;
  }
  .cell-grid {
    padding: 72px;
  }
  .game-container {
    width: 23vw;
    height: 17vh;
  }
  #ij01,
  #ij30 {
    width: 51vw;
    height: 38vh;
  }
  #ij62{
    background-size: 17vw 13vh;
  }
}
@media screen and (min-width: 900px) and (max-width: 920px) {
  #ij00 {
    background-size: 19vw 12vh;
  }
  .cell-grid {
    padding: 103px;
  }
  .game-container {
    width: 24vw;
    height: 16vh;
  }
  #ij01,
  #ij30 {
    width: 51vw;
    height: 35vh;
  }
  #ij62{
    background-size: 18vw 12vh;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1290px) {
  #ij00 {
    background-size: 14vw 21vh;
  }
  .cell-grid {
    padding: 148px;
  }
  .game-container {
    width: 20vw;
    height: 32vh;
  }
  #ij01,
  #ij30 {
    width: 46vw;
    height: 69vh;
  }
  #ij62{
    background-size: 15vw 24vh;
  }
}